---
import Button from "../Button/Button.astro";
import type { FAQ } from "./data";
import { faqs } from "./data";
import FaqItem from "./FAQItem.astro";
---

<section class="faq">
  <div class="faq__inner">
    <div class="faq__header">
      <h2>FAQs</h2>
      <p class="text-medium-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>

    <ul class="faq__list" role="list">
      {
        faqs.map((f: FAQ) => (
          <FaqItem id={f.id} question={f.question} answer={f.answer} />
        ))
      }
    </ul>

    <div class="faq__cta">
      <h4 class="faq__cta__title">Still have a question?</h4>
      <p class="text-medium-normal faq__sub">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <Button
        variant="line"
        type="button"
        isMobileFullWidth={true}
        label="Contact"
      />
    </div>
  </div>
</section>

<style>
  .faq {
    position: relative;
    padding: 112px 64px;
  }

  .faq__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }

  .faq__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }

  .faq__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .faq__sub {
    margin: 16px 0 24px;
  }

  .faq__cta {
    width: 100%;
  }

  @media (max-width: 768px) {
    .faq {
      padding: 48px 24px;
    }

    .faq__inner {
      gap: 48px;
    }

    .faq__header {
      align-items: flex-start;
      text-align: left;
    }

    .faq__cta__title {
      font-size: var(--font-size-h4);
    }
  }
</style>
