---
import AboutUs from "./AboutUs.astro";
import OurMission from "./OurMission.astro";
---

<section class="about">
  <AboutUs />
  <OurMission />
</section>

<style>
  .about {
    background-color: var(--color-white);
  }
</style>
