---
const {
  type,
  variant = "black",
  label,
  isFullWidth,
  id,
  isMobileFullWidth,
} = Astro.props;
---

<button
  type={type}
  id={id}
  class={`btn btn-${variant} ${isFullWidth ? "btn-full-width" : ""} ${
    isMobileFullWidth ? "btn-mobile-full-width" : ""
  }`}>
  {label}
</button>

<style>
  .btn {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
  }

  .btn-black {
    color: var(--color-white);
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
  }

  .btn-white {
    color: var(--color-black);
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
  }

  .btn-line {
    color: var(--color-black);
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
  }

  .btn-full-width {
    width: 100%;
  }

  @media (max-width: 768px) {
    .btn-mobile-full-width {
      width: 100%;
    }
  }
</style>
